<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="SeleniumWD">
        <classes>
            <class name="tests.VkTest">
                <methods>
                    <include name="VkTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>